
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: 
      "controlblock"
      "main";
}

.controlblock {
  grid-area: controlblock;
  text-align:center;
  margin: 15px;
}

.main {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  margin-left: 15px;
  margin-right: 15px;  
  justify-content: center;
}

.main > div {
  margin-left: 15px;
  margin-right: 15px;  
}